*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
    font-size: 62.5%;
    margin: 0;
    padding: 0;

    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background: linear-gradient(
        #9ba8c1,
        #ffffff
    );
}

h1 {
    font-size: 3.6rem;
    margin: 0;
    padding: 0;
}

header {
    background-color: rgb(27, 110, 146);
    color: white;
    padding: 1rem 0;
    text-align: center;
}

header h1 {
    font-size: 3.6rem;
    margin: 0;
    padding: 0;
}

header nav {
    margin-top: 1rem;
}

header nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

header nav ul li {
    margin: 0 1rem;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.6rem;
}

header nav ul li a:hover {
    text-decoration: underline;
}

h2 {
    font-size: 2.8rem;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    align-items: center;
    height: 200vh;
    width: 70%;
    margin: 0 auto;
    flex-direction: column;

}

.section {
    margin: 2rem 0;
}

.tasks-container {
    overflow-x: hidden;
    overflow-y: scroll;
    height: 400px;
    width: 500px;
    background-color: rgb(83, 124, 141);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
}

.task {
    width: 90%;
    background-color: rgb(27, 110, 146);
    margin: 1rem 0;
    padding: 1remrem;
    border: 1px solid rgb(27, 110, 146);
    border-radius: 5px;
}

.task h3 {
    margin: 0.1rem;
    padding: 0;
}

.goal-input {
    font-size: 2.8rem;
    padding: 1rem;
    width: 100%;
    border: none;
    border-bottom: 2px solid rgb(27, 110, 146);
    margin: 0;
}

.input {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}

.hidden {
    display: none;
}